.navbar {
    margin-bottom:0;
}

.navbar-brand {
    padding-right: 8px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: limegreen;
}
/*------------- Beginning of Carousel CSS --------------*/
/* Global */

/*
Fade content bs-carousel with hero headers
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: limegreen;
    border-color: #f5f5f5;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(https://hd.unsplash.com/photo-1427384906349-30452365b5e8);
}
.fade-carousel .slides .slide-2 {
    background-image: url(https://hd.unsplash.com/photo-1470299067034-07c696e9ef07);
}
.fade-carousel .slides .slide-3 {
    background-image: url(https://hd.unsplash.com/photo-1468645547353-56d325bb57ff);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}

/*------------- End of Carousel CSS --------------*/


/*--------------------- START 3 COLUMN LEADERBOARD ----------------------------*/

#pagewrap {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}

#content {
    width: 294px;
    float: left;
    padding: 5px 15px 100%;
}

#middle {
    width: 294px; /* Account for margins + border values */
    float: left;
    padding: 5px 15px 25%;
    /*margin: 0px 5px 5px 5px;*/
}

#sidebar {
    width: 294px;
    padding: 5px 15px 55%;
    float: left;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

    #pagewrap {
        width: 94%;
    }
    #content {
        width: 41%;
        padding: 1% 4%;
    }
    #middle {
        width: 41%;
        padding: 1% 4%;
        margin: 0px 0px 5px 5px;
        float: right;
    }

    #sidebar {
        clear: both;
        padding: 1% 4%;
        width: auto;
        float: none;
    }

}

/* for 700px or less */
@media screen and (max-width: 600px) {

    #content {
        width: auto;
        float: none;
    }

    #middle {
        width: auto;
        float: none;
        margin-left: 0px;
    }

    #sidebar {
        width: auto;
        float: none;
    }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

    h1 {
        font-size: 2em;
    }
    #sidebar {
        display: none;
    }

}


#content {
    background: #f8f8f8;
}
#sidebar {
    background: #f0efef;
}
#content, #middle, #sidebar {
    margin-bottom: 5px;
}

#pagewrap, #content, #middle, #sidebar {
    border: solid 1px #ccc;
}

.full-width-image-2 {
    background: url(/img/citywalking.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

#glbfooter {
    background: black;
    padding: 20px 10px 40px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

ul {
    list-style-type: none; margin: 0;
}

footer {
    padding:1px;
    border:1px solid grey;
    padding-top: 9px;
    padding-bottom: 9px;
}

#footer-heads {
    color: whitesmoke;
}

.activity-inner .item {
    height: 100vh;
}

#login-background {
    background: url(/img/night2.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

#envelope {
    position: relative;
    top: 5px;
    right: 14px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.badge {
    right: 14px;
    display: inline-block;
    min-width: 10px;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.btn-primary.primary {
    background-color: limegreen;
}

.btn-primary.active {
    background-color: limegreen;
}

.btn-group > .btn:hover {
    background-color: limegreen;
}

.btn-group > .btn:focus {
    background-color: limegreen;
}
